body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/* Image containers */

.images-container {
  position: relative;
  height: 458px; 
}  
.image-wrapper {
  position: absolute;
  width: 100%;
  overflow:hidden;
}
/* Image files */
.image-wrapper img {
  object-fit: cover;
  height: 450px;
}

/* Slider styles */

.image-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 30px;
  height: 30px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 50%;
}
.image-slider_2 {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 6px;
  height: 100px;
  background-color: #fff;
  opacity: 0.9;
}
.image-slider_2::after {
  content: ">";
  font-weight: 700;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 15px;
}
.image-slider_2::before {
  content: "<";
  font-weight: 700;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40px;
  right: 15px;
}
.slider-border {
  border-right: 3px solid #fff;
}

/* Button styles */

#reset {
  background-color: #FF206E;
}
#border-button {
  background-color: #34E5FF;
}
#slider-button {
  background-color: #EDB88B;
}
#file-1-label, #file-2-label {
  font-size: 12px;
}
#image_1 {
  width: 100%;
}
label svg {
  margin-top: -3px;
}

/* Footer */

footer {
  margin-top: 8em;
  padding-bottom: 2em;
}
footer a:hover svg {
  transform: scale(1.1);
}
footer svg {
  fill: #f8f9fa;
  transition: .2s;
}

/* Media Queries */

@media (max-width: 375px) {
  .images-container {
    height: 333px; 
  }  
  .image-wrapper img {
    height: 325px;
  }
}
@media (min-width: 768px) {
  .images-container {
    height: 533px; 
  }  
  .image-wrapper img {
    height: 525px;
  }
}
@media (min-width: 1200px) {
  .images-container {
    height: 633px; 
  }  
  .image-wrapper img {
    height: 625px;
  }
}


